@using src.Beast;
@page "/creator"
@attribute [StreamRendering]

<PageTitle>TeamCreator</PageTitle>

<h1>TeamCreator</h1>

<p>The Team creator</p>

@if (bagbeasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>BagBeasts</th>
                <th aria-label="label1">Temp. (C)</th>
                <th aria-label="label2">Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var beast in bagbeasts)
            {
                <tr>
                    <td>@beast.Name</td>
                    <td>@beast.ID</td>
                    <td>@beast.Type1</td>
                    <td>@beast.Type2 ?? @string.Empty</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<BagBeast>? bagbeasts;

    protected override async Task OnInitializedAsync()
    {
        
    }
}
